extends ../layout
block content
    h2= blog.title

    - text = blog.content
    - text = text.replace( /\r\n|\r|\n/g, '<br/>' )
    //- htmlText = $('<div><span id='box'>Hi, I am a span box</span></div>')

    .help-block(style="font-size: 11px;") Author:&nbsp
      a(href="/user/#{author.name}") #{author.name}
      | &nbsp|
      | Date: #{blog.date}
    article !{text}

    if (author.name == userauth.name)
      p
        .btn-group
          a.help-block.btn.btn-default.btn-sm(href="./#{blog._id}/delete") Delete
          a.help-block.btn.btn-default.btn-sm(href="./#{blog._id}/edit") Edit
